
<nav class="navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">YCombinator News scraper</a>
        </div>
        <div class="btn-toolbar btnSpacing">
            <button id="savedArticles" class="btn btn-danger">Saved Articles</button>
            <button id="scrapeArticles" class="btn btn-danger">SCRAPE NEW ARTICLES!</button>
            <button id="displayArticles" class="btn btn-danger">Display Articles</button>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div id="articles"></div>
    <div id="comments" class="form-group">
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="app.js"></script>
